/* reset */
div, span {
	padding: 0;
	margin: 0;
}

img {
	width: 65vw;
}


body {
	background-color: black /*#0c1011*/;
	color: white;
	font-family: verdana;
}
.cuerpo {
	/* width: 1200px;
	margin: 50px auto 100px; */	
	margin: -17px 1% 100px 2%;
	overflow-x: hidden;
	font-size: 2em;
}

.tts-highlight {
	outline: 10px solid rgb(100, 0, 0);
	margin-top: 30px !important;
}
/* .cuerpo:not(.tts-highlight) {
	background-color: rgba(255, 255, 255, 0.03);
} */
p {
	padding: 0.7346em 10px;
}
tbody tr td{
	border: 1px solid;
	padding: 10px;
}
a {
	text-decoration: none;
	color: lightgreen;
}
::-webkit-scrollbar {
	display: none;
}
/* ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: white; 
	border-radius: 10px;
}
::-webkit-scrollbar-button {
	height: 20%;
} */
.botones {
	position: fixed; 
	bottom: 0;
	left: 0;
	border-radius: 0 20px 0 0;
	background-color: azure;
	padding: 10px 15px 10px 10px;
	user-select: none;
	display:flex;
	align-items:center;
}
.botones button {
	/* border-radius: 50%; */
	background-color: inherit;
	border: none;
	cursor: pointer;
	height: 50px;
	width: 50px;
	outline: none;
	padding: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50% 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
	opacity: .75;
}
.menu::before, .menu::after {
    content: "";
    background: #c3c2c7;
    border-radius: 5px;
    width: 30px;
    height: 7px;
    position: absolute;
    left: 12px;
    top: 25px;
    transition: 0.2s ease;
    z-index: 1;
}
.menu::before {
    transform: rotate(0deg);
}
.menu::after {
    transform: rotate(-90deg);
}
.menu.open {
    opacity: 1;
}
.menu.open::before {
    transform: rotate(45deg);
}
.menu.open::after {
    transform: rotate(-45deg);
}
.menu.open .button {
    z-index: 1;
    opacity: 1;
    pointer-events: auto;
}
.menu.open .button:first-of-type {
    padding: 10px 8px 0px 8px;
    border-radius: 0 50% 0 0;
    bottom: 0px;
    right: 60px;
    background: #fff;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}
.menu.open .button:nth-of-type(2) {
    padding: 10px;
    border-radius: 50% 0;
    bottom: 55px;
    right: 55px;
    background:#fff;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.3s ease opacity, 0.3s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}
.menu.open .button:last-of-type {
    padding: 9px 6px 7px 9px;
    border-radius: 0 0 0 50%;
    bottom: 60px;
    right: 0;
    background: #fff;
    transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
}
.menu .button {
    user-select: none;
	pointer-events: none;
    background-color: #000;
    cursor: pointer;
    background: #fff;
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    opacity: 0;
    box-shadow: inherit;
    
}
.menu .button img {
	width: 25px;
	height: 25px;
}
.menu .button:hover, .menu .button:active {
    transform: scale(1.05);
}
dialog {
	font-size: 1rem;
	padding: 15px;
	border: none;
	border-radius: 10px;
}
dialog > div {
    display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 15px;
}
dialog > div button {
	width: fit-content;
	height: fit-content;
	user-select: none;
	padding: 10px 15px;
	font-size: 1rem;
	color: white;
	background-color: black;
	border: none;
	border-radius: 5px;
}
dialog > div button:active {
	background-color: rgba(0, 0, 0, 0.9);
}
dialog > div input {
	padding-left: 5px;
}
/* dialog::backdrop {
	display: none;
}  */

/* Old context manu */
/* #context-menu {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2b2a33;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(37, 40, 42, 0.22);
    color: #fff;
    width: 10rem;
    font-size: 1rem;
    padding: .3rem 0;
    position: fixed;
    user-select: none;
    display: none;
}

.context-item {
    padding: 0.5rem 1rem;
	font-size: 1em;
}
.context-item:first-of-type {
    border-radius: 5px 5px 0 0;
}
.context-item:last-of-type {
    border-radius: 0 0 5px 5px;
}
.context-item:hover, .context-item:active, .context-item:focus {
    background-color: #52525e;
    cursor: pointer;
}
*/

#play { background-image: url(../imagenes/Icons/Play/4.png); }
#pause { background-image: url(../imagenes/Icons/Pause/4.png); }
#stop { background-image: url(../imagenes/Icons/Stop/4.png); }
#previous { width: 30px; background-image: url(../imagenes/Icons/Previous/3.png); }
#next { width: 30px; background-image: url(../imagenes/Icons/Next/3.png); }

#play.played { background-image: url(../imagenes/Icons/Play/3.png); }
#pause.paused { background-image: url(../imagenes/Icons/Pause/3.png); }
#stop.stopped { background-image: url(../imagenes/Icons/Stop/3.png); }

/* #play:hover { background-image: url(../imagenes/Icons/Play/5.png); } */
/* #pause:hover { background-image: url(../imagenes/Icons/Pause/5.png); } */
/* #stop:hover { background-image: url(../imagenes/Icons/Stop/5.png); } */
#previous:hover { background-image: url(../imagenes/Icons/Previous/1.png); }
#next:hover { background-image: url(../imagenes/Icons/Next/1.png); }

@media only screen and (min-width: 1900px) {
	.cuerpo {
		margin: 0 20%;
	}
}

@media only screen and (max-width: 600px) {
	.cuerpo, .context-item {
		font-size: 1.5em;
	}
}
